.topbar-color {
  background-color: rgb(36, 36, 36);
  position:fixed;
  margin-top: 0px !important;
  z-index: 999;
}

.example-spacer {
  flex: 1 1 auto;
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.custom-menu-width {
  width: 500px !important;
}

::ng-deep .mat-menu-panel.custom-menu-width {
  width: 500px !important;
}

.notifications-popup-container {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  background-color: rgb(61, 61, 61);
  border: none;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  overflow-y: hidden;
}

.notifications-popup-content {
  max-width: 100%;
}

.notifications-popup-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.notifications-popup-body {
  max-height: 300px;
  overflow-y: auto;
}

.notifications-popup-body p {
  margin: 0;
}

.notifications-popup-body mat-divider {
  margin: 16px 0;
}
