<!-- <mat-toolbar class="topbar-color">
  <button mat-icon-button (click)="toggle()"><mat-icon>menu</mat-icon></button>
  <h1 class="h1">Responsive App</h1>
</mat-toolbar>
<mat-divider></mat-divider> -->

<mat-toolbar class="topbar-color mat-elevation-z8"  [style.paddingRight.px]="isDesktop && sidebarOpen ? 290 : 30">
  <button mat-icon-button class="example-icon" (click)="toggle()" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>kognito</span>
  <span class="example-spacer"></span>

  <button #notificationsButton mat-icon-button (click)="openPopup()">
    <mat-icon matBadge="{{posts.length}}">notifications</mat-icon>
  </button>
  <a style="cursor: pointer">


    <a mat-fab class="example-icon ms-4" style="width: 40px; height: 40px; background-color: black;">
      <img src="assets/images/user.png" class="avatar">
    </a>
    <span *ngIf="isDesktop" class="ms-2" style="font-size: 15px;">Alex Carlos
    </span>
  </a>

  <a [matMenuTriggerFor]="menuUser" class="mt-2 text-white" style="cursor: pointer">
    <mat-icon>arrow_drop_down</mat-icon>
  </a>


</mat-toolbar>
<mat-divider></mat-divider>




<mat-menu #menuUser="matMenu">
  <button [routerLink]="['administracao/userMananger']" mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>Meu perfil</span>
  </button>
  <button [routerLink]="['administracao/campanhas']"  mat-menu-item>
      <mat-icon>work
      </mat-icon>
      <span>Campanhas</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item [routerLink]="['/login']">
      <mat-icon>logout
      </mat-icon>
      <span>Sair</span>
  </button>
</mat-menu>

<mat-menu #menuNotifications="matMenu" style="width: 100%">
  <mat-card class="p-2">
    <mat-card-title>Notificações</mat-card-title>
    <mat-card-content>
      <div *ngFor="let item of posts">
        <p><b>{{item.title}}</b></p>
        
        <mat-divider></mat-divider>
      </div>
    </mat-card-content>
  </mat-card>
</mat-menu>




<div class="notifications-popup-container"s 
*ngIf="showPopup" [style.top]="getPopupPosition().top" [style.left]="getPopupPosition().left">
  <div class="notifications-popup-content">
    <div class="notifications-popup-header">
      Notificações
      <button mat-icon-button (click)="closePopup()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="notifications-popup-body">
      <div *ngFor="let item of posts">
        <p style="font-weight: 800 !important;">{{item.title}}</p>
        <label class="mt-2">{{item.body}}</label>
        <mat-divider></mat-divider>
      </div>
    </div>
  </div>
</div>